<%- include("partials/header.ejs") %>
<h1>Welcome to Blog app</h1>
<div >
    <p>Fill the form for creating Blog</p>
    <form  action="/" method="post">
        <label for="blogtTitle">Title :</label>
        <input type="text" id="blogtTitle" name="blogtTitle" placeholder="..." />   
     </form>
</div>

<%- include("partials/footer.ejs") %>
