

.navbar{
   
    padding-bottom: 15px;
    border: 0;
    background-color: black;
    
}

.navbar-default .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-default .navbar-brand {
    color: whitesmoke;
}